--swift-version 6.1
--indent 4
--max-width 100
--allman false
--semicolons never
--strip-unused-args always
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--extension-acl on-declarations
--header strip
--type-blank-lines remove
--trailing-commas always
--trim-whitespace always
--ranges spaced
--hex-grouping none
--enable trailingClosures
--pattern-let inline
--exclude .build
--enable blankLinesBetweenChainedFunctions
--allow-partial-wrapping false
--self init-only
